/* Navbar Styles */
.navbar {
  border-bottom: 1px solid #e7e7e7;
}

a {
  color: #377ab7;
}

.navbar {
  font-family: "Myriad Pro";
}

.navbar-brand img {
  height: 50px;
  display: inline;
  padding-right: 15px;
}

.navbar-brand {
  top: 12px;
  left: 15px;
  position: absolute;
}

.fa {
  color: #e7e7e7;
  font-size: 20px;
  border-width: 3px;
}

.bottom-border {
  border-bottom: 1px solid #e7e7e7;
}

.top-border {
  border-top: 1px solid #e7e7e7;
}

.left-border {
  border-left: 1px solid #e7e7e7;
}

.right-border {
  border-right: 1px solid #e7e7e7;
}

.social, .nav-item, .list-nav-item {
  padding: 15px;
  height: 50px;
  display: inline;
  float: right;
}

.list-nav-item {
  border-bottom: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
}

.active {
  background-color: #377ab7;
}

.active a,
.active i {
  color: white;
}

.social:hover,
.nav-item:hover {
  color: white;
  background-color: #377ab7;
  -webkit-transition: color 2s, background-color 2s; /* Safari */
  transition: color 2s, background-color 2s;
}

.social:hover a,
.nav-item:hover a,
.social:hover i,
.nav-item:hover i {
  color: white;
  text-decoration: none;
}

.nav-item {
  width: 200px;
  line-height: 15px;
}

.light-active {
  background-color: #4faddd;
}

.list-nav-item {
  width: 201px;
}

.nav-item a:focus {
  text-decoration: none;
}

.social {
  width: 50px;
}

.small-icon {
  font-size: 0.9em;
  background-color:#377ab7;
  color: white;
  padding: 6px;
  padding-bottom: 2px;
  border-radius: 2px;
}

.dropdown-menu li:hover .small-icon {
  background-color: white;
  color: #377ab7 !important;
}

.blue-icon {
  color: #377ab7;
  font-size: 10px;
  margin-left: 6px;
}

.no-col-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.dropdown-menu {
  width: inherit;
  background-color: white;
  color: #377ab7;
  box-shadow: none;
  border-radius: 0px;
  border: none;
  padding: 0px;
  margin-top: 0px;
}

.dropdown-menu li {
  text-align: center;
}

.dropdown-menu li a {
  color: #377ab7 !important;
}

.dropdown-menu li:hover {
  background-color: #377ab7;
  -webkit-transition: background-color 2s; /* Safari */
  transition: background-color 2s;
}

.dropdown-menu li:hover a, .dropdown-menu li:hover i {
  color: white !important;
  -webkit-transition: color 2s; /* Safari */
  transition: color 2s;
}

.dropdown-menu li:hover a {
  background-image: none;
}

.dropdown-menu li a:hover {
  color: white;
  background-image: none !important;
  background-color: transparent !important;
  text-decoration: none;
}

.dropdown-menu .active {
  background-color: #377ab7;
}

.dropdown-menu .active a {
  background-image: none;
  background-color: transparent;
  color: white !important;
}


/* Main Body */
main {
  padding-top: 102px;
}

.scroll-element {
  padding-top: 250px;
}

.scroll {
  overflow-y: hidden;
  color: #377ab7;
  overflow: scroll;
  font-size: 84px;
  padding-top: 40px;
  max-height: 600px;
}

.scroll::-webkit-scrollbar {
    display: none;
}

main .container {
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
}

#im3 {
  opacity: 0.2;
}

/* Media Query */
/* This first one fixes a weird Bootstrap bug
(or a bug in this CSS that couldn't be found) */
@media (max-width: 1200px){
  @media (min-width: 992px){
    .navbar .container {
      margin: 0px auto;
      padding: 0px;
    }
  }
}

/* Increase container width on large screens */
@media (min-width: 1500px) {
    .container{
        max-width: 1398px;
    }
}

@media (max-width: 820px){
  /* Nav */
  .nav-item, .list-nav-item {
    width: 100%;
  }

  /* Main Body */
  main {
    padding-top: 201px;
  }
}

@media (max-width: 420px){
  /* Nav */
  .navbar-brand {
    font-size: 1em;
  }
}

@media (max-width: 370px){
  /* Nav */
  .navbar-brand {
    top: 0px;
    left: 0px;
  }

  .navbar-brand img {
    height: 35px;
  }

  .fa {
    font-size: 12px;
  }

  .social {
    height: 30px;
    width: 30px;
    padding: 7px;
  }

  .nav-item {
    line-height: 10px;
  }

  .blue-icon {
    font-size: 6px;
  }

  /* Main Body */
  body {
    font-size: 1em;
  }

  main {
    padding-top: 160px;
  }

  .dropdown-menu li a {
    font-size: 0.7em !important;
  }
}
