/* Navbar Styles */
.navbar {
  font-family: "Myriad Pro";
}

.navbar-brand {
  top: 12px;
  left: 15px;
  position: absolute;
}

.navbar-brand img {
  height: 50px;
  display: inline;
  padding-right: 15px;
}

.fa {
  color: lightgray;
  font-size: 20px;
  border-color: lightgray;
  border-width: 3px;
}

.social, .nav-item {
  padding: 15px;
  height: 50px;
  display: inline;
  float: right;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.nav-item {
  width: 200px;
}

.social {
  width: 50px;
}

.blue-icon {
  color: #377ab7;
  font-size: 14px;
  margin-left: 6px;
}

.no-col-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.no-bottom {
  border-bottom: hidden;
}

/* Main Body */
main {
  margin-top: 120px;
}

/* Media Query */

@media (max-width: 420px){
  /* Nav */
  .nav-item {
    width: 100%;
  }
  
  /* Main Body */
  main {
    margin-top: 190px;
  }
}



@media (max-width: 330px){
  /* Nav */
  .navbar-brand {
    top: 0px;
    left: 0px;
  }

  .navbar-brand img {
    height: 35px;
  }

  .fa {
    font-size: 12px;
  }

  .social {
    height: 30px;
    width: 30px;
    padding: 7px;
  }
  
  /* Main Body */
  main {
    margin-top: 160px;
  }
}