/* Navbar Styles */
a {
  color: #0076b4;
}
.navbar {
  font-family: "Myriad Pro";
}

.navbar-brand img {
  height: 50px;
  display: inline;
  padding-right: 15px;
}

.navbar-brand {
  top: 12px;
  left: 15px;
  position: absolute;
}

.fa {
  color: lightgray;
  font-size: 20px;
  border-color: lightgray;
  border-width: 3px;
}

.social, .nav-item, .list-nav-item {
  padding: 15px;
  height: 50px;
  display: inline;
  float: right;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.active {
  background-color: #0076b4;
}

.active a,
.active i {
  color: white;
}

.social:hover,
.nav-item:hover {
  color: white;
  background-color: #0076b4;
  -webkit-transition: color 2s, background-color 2s; /* Safari */
  transition: color 2s, background-color 2s;
}

.social:hover a,
.nav-item:hover a,
.social:hover i,
.nav-item:hover i {
  color: white;
  text-decoration: none;
}

.nav-item {
  width: 200px;
  line-height: 15px;
}

.list-nav-item {
  width: 201px;
}

.nav-item a:focus {
  text-decoration: none;
}

.social {
  width: 50px;
}

.small-icon {
  font-size: 0.9em;
  background-color:#0076b4;
  color: white;
  padding: 6px;
  padding-bottom: 2px;
  border-radius: 2px;
}

.dropdown-menu li:hover .small-icon {
  background-color: white;
  color: #0076b4 !important;
}

.blue-icon {
  color: #0076b4;
  font-size: 10px;
  margin-left: 6px;
}

.no-col-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.no-bottom {
  border-bottom: hidden;
}

.dropdown-menu {
  width: inherit;
  background-color: white;
  color: #0076b4;
  box-shadow: none;
  border-radius: 0px;
  border: none;
  padding: 0px;
  margin-top: 0px;
}

.dropdown-menu li {
  border-right: 1px solid lightgray;
  text-align: center;
}

.dropdown-menu li a {
  color: #0076b4 !important;
}

.dropdown-menu li:hover {
  background-color: #0076b4;
  -webkit-transition: background-color 2s; /* Safari */
  transition: background-color 2s;
}

.dropdown-menu li:hover a, .dropdown-menu li:hover i {
  color: white !important;
  -webkit-transition: color 2s; /* Safari */
  transition: color 2s;
}

.dropdown-menu li:hover a {
  background-image: none;
}

.dropdown-menu li a:hover {
  color: white;
  background-image: none;
  background-color: transparent;
  text-decoration: none;
}

.dropdown-menu .active {
  background-color: #0076b4;
}

.dropdown-menu .active a {
  background-image: none;
  background-color: transparent;
  color: white !important;
}


/* Main Body */
main {
  margin-top: 120px;
}

/* Media Query */

@media (max-width: 820px){
  /* Nav */
  .nav-item, .list-nav-item {
    width: 100%;
  }

  /* Main Body */
  main {
    margin-top: 190px;
  }
}

@media (max-width: 420px){
  /* Nav */
  .navbar-brand {
    font-size: 1em;
  }
}

@media (max-width: 370px){
  /* Nav */
  .navbar-brand {
    top: 0px;
    left: 0px;
  }

  .navbar-brand img {
    height: 35px;
  }

  .fa {
    font-size: 12px;
  }

  .social {
    height: 30px;
    width: 30px;
    padding: 7px;
  }

  .nav-item {
    line-height: 10px;
  }

  .blue-icon {
    font-size: 6px;
  }

  /* Main Body */
  body {
    font-size: 1em;
  }

  main {
    margin-top: 160px;
  }

  .dropdown-menu li a {
    font-size: 0.7em !important;
  }
}
