/* Font Styles */
.navbar {
  font-family: 'Overpass', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Overpass', sans-serif;
}

.panel-info {
  font-family: 'Overpass', sans-serif;
}

/* Navbar Styles */
.navbar {
  border-bottom: 1px solid #e7e7e7;
}

#navbar .navbar {
  background-color: white;
}


a, a:hover {
  color: #377ab7;
}

.navbar-brand img {
  height: 50px;
  display: inline;
  padding-right: 15px;
}

.navbar-brand {
  top: 12px;
  left: 15px;
  position: absolute;
}

.fa {
  color: #e7e7e7;
  font-size: 20px;
  border-width: 3px;
}

.bottom-border {
  border-bottom: 1px solid #e7e7e7;
}

.top-border {
  border-top: 1px solid #e7e7e7;
}

.left-border {
  border-left: 1px solid #e7e7e7;
}

.right-border {
  border-right: 1px solid #e7e7e7;
}

.social, .nav-item, .list-nav-item {
  padding: 15px;
  height: 50px;
  display: inline;
  float: right;
}

.list-nav-item {
  border-bottom: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
}

.active {
  background-color: #377ab7;
}

.active a,
.active i {
  color: white;
}

.social:hover,
.nav-item:hover {
  color: white;
  background-color: #377ab7;
  -webkit-transition: color 2s, background-color 2s; /* Safari */
  transition: color 2s, background-color 2s;
}

.social:hover a,
.nav-item:hover a,
.social:hover i,
.nav-item:hover i {
  color: white;
  text-decoration: none;
}

.nav-item {
  width: 200px;
  line-height: 15px;
}

.light-active {
  background-color: #4faddd;
}

.light-active a {
  color: white;
}

.light-active a i {
  color: white;
}

.list-nav-item {
  width: 201px;
}

.nav-item a:focus {
  text-decoration: none;
}

.social {
  width: 50px;
}

.small-icon {
  font-size: 0.9em;
  background-color:#377ab7;
  color: white;
  padding: 6px;
  padding-bottom: 2px;
  border-radius: 2px;
}

.dropdown-menu li:hover .small-icon {
  background-color: white;
  color: #377ab7 !important;
}

.blue-icon {
  color: #377ab7;
  font-size: 10px;
  margin-left: 6px;
}

.no-col-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.dropdown-menu {
  width: inherit;
  background-color: white;
  color: #377ab7;
  box-shadow: none;
  border-radius: 0px;
  border: none;
  padding: 0px;
  margin-top: 0px;
}

.dropdown-menu li {
  text-align: center;
}

.dropdown-menu li a {
  color: #377ab7 !important;
}

.dropdown-menu li:hover {
  background-color: #377ab7;
  -webkit-transition: background-color 2s; /* Safari */
  transition: background-color 2s;
}

.dropdown-menu li:hover a, .dropdown-menu li:hover i {
  color: white !important;
  -webkit-transition: color 2s; /* Safari */
  transition: color 2s;
}

.dropdown-menu li:hover a {
  background-image: none;
}

.dropdown-menu li a:hover {
  color: white;
  background-image: none !important;
  background-color: transparent !important;
  text-decoration: none;
}

.dropdown-menu .active {
  background-color: #377ab7;
}

.dropdown-menu .active a {
  background-image: none;
  background-color: transparent;
  color: white !important;
}


/* Main Body */
main {
  padding-top: 101px;
}

main .container {
  padding-top: 80px;
  padding-bottom: 100px;
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
}

#im3 {
  opacity: 0.2;
}

/* Panels */
.panel, .panel h3, .faculty-panel {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  border: none;
}

.panel, .faculty-panel {
  height: 296px;
  cursor: pointer;
}

.panel img {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: 0.8s;
}

.faculty-panel img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: 0.8s;
}

.panel:hover img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: 0.8s;
}

.faculty-panel:hover img {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: 0.8s;
}

.title-panel {
  color: white;
  border: none;
  border-radius: 0px;
}

.title-panel h3 {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
  margin: 0px;
}

.panel-info {
  position: absolute;
  bottom: 10px;
  left: 0px;
  color: white;
  padding: 8px 0px;
  font-size: 1.5em;
  width: 0px;
  transition: .8s;
  -webkit-transition: .8s;
  white-space: nowrap;
  overflow: hidden;
}

.panel-info-visible {
  padding: 8px 15px;
  width: auto;
  transition: .8s;
  -webkit-transition: .8s;
}

.faculty-panel .panel-info {
  right: 0px;
  left: auto;
  bottom: 0px;
}

.blue-panel {
  background-color: #4faddd;
}

.blue-panel .title-panel-info {
  color: #4faddd;
}

.green-panel {
  background-color: #60b481;
}

.green-panel .title-panel-info {
  color: #60b481;
}

.red-panel {
  background-color: #ee4037;
}

.red-panel .title-panel-info {
  color: #ee4037;
}

.black-panel {
  background: rgba(0,0,0,0.7);
}

.title-panel-info {
  bottom: auto;
  top: 30px;
  background-color: white;
}

/* Modals */
.btn .fa {
  color: #377ab7;
}

.btn {
  background-color: white;
  border: 1px solid #e7e7e7;
  border-radius: 0px;
}

.slide-modal, .modal-on-modal {
    width: 0;
    margin-left: -16px; /* Ignore parent padding */
    height: 100%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    opacity: 0;
    background-color: lightgray;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.8s; /* 0.5 second transition effect to slide in the slide-modal */
    margin-top: 101px;
    padding: 0px 15px;
}

.modal-on-modal {
  background-color: #377ab7;
  color: white;
}

/* Media Query */
/* This first one fixes a weird Bootstrap bug
(or a bug in this CSS that couldn't be found) */
@media (max-width: 1200px){
  @media (min-width: 992px){
    .navbar .container {
      margin: 0px auto;
      padding: 0px;
    }

    main .container {
      width: 1000px;
    }

    .panel {
      height: 253px;
    }

    .panel h3 {
      font-size: 18px;
    }
  }
}

/* Increase container width on large screens */
@media (min-width: 1500px) {
    .container{
        max-width: 1398px;
    }
}

@media (max-width: 820px){
  /* Nav */
  .nav-item, .list-nav-item {
    width: 100%;
  }

  /* Main Body */
  main {
    padding-top: 201px;
  }

  .slide-modal {
    margin-top: 201px;
  }

  .panel {
    max-height: 256px;
  }

  .panel h3 {
    font-size: 18px;
  }
}

@media (max-width: 420px){
  /* Nav */
  .navbar-brand {
    font-size: 1em;
  }

  /* Main */
  .panel {
    max-height: 225px;
  }

}

@media (max-width: 370px){
  /* Nav */
  .navbar-brand {
    top: 0px;
    left: 0px;
  }

  .navbar-brand img {
    height: 35px;
  }

  .fa {
    font-size: 12px;
  }

  .social {
    height: 30px;
    width: 30px;
    padding: 7px;
  }

  .nav-item {
    line-height: 10px;
  }

  .blue-icon {
    font-size: 6px;
  }

  /* Main Body */
  body {
    font-size: 1em;
  }

  main {
    padding-top: 110px;
  }

  .slide-modal {
    margin-top: 160px;
  }

  .dropdown-menu li a {
    font-size: 0.7em !important;
  }

  .panel {
    max-height: 179px;
  }
}
