


    <div class="col-xs-6 student-work-container">
      <img class="img-responsive student-work" src="../images/student-works/brittany-king-1.png" />
      <img class="img-responsive student-work" src="../images/student-works/brittany-king-2.png" />
      <img class="img-responsive student-work" src="../images/student-works/brittany-king-3.jpg" />
      <img class="img-responsive student-work" src="../images/student-works/brittany-king-4.png" />
      <img class="img-responsive student-work" src="../images/student-works/brittany-king-5.jpg" />
      <img class="img-responsive student-work" src="../images/student-works/brittany-king-6.jpg" />
      <img class="img-responsive student-work" src="../images/student-works/brittany-king-7.jpg" />
      <img class="img-responsive student-work" src="../images/student-works/brittany-king-8.jpg" />
    </div>
    <div class="col-xs-6 student-work-container">
      <img class="img-responsive student-work" src="../images/student-works/brittany-king-9.jpg" />
      <img class="img-responsive student-work" src="../images/student-works/brittany-king-10.jpg" />
      <img class="img-responsive student-work" src="../images/student-works/brittany-king-11.jpg" />
      <img class="img-responsive student-work" src="../images/student-works/brittany-king-12.jpg" />
      <img class="img-responsive student-work" src="../images/student-works/brittany-king-13.png" />
      <img class="img-responsive student-work" src="../images/student-works/brittany-king-14.png" />
      <img class="img-responsive student-work" src="../images/student-works/brittany-king-15.jpg" />
      <img class="img-responsive student-work" src="../images/student-works/brittany-king-16.jpg" />
    </div>
