<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="row">
            <div class="col-md-6 col-md-offset-6 no-col-padding">
              <div class="social"><a href="https://www.facebook.com/NICIMG/" target="_blank"><i class="fa fa-facebook"></i></a></div>
              <div class="social"><a href="https://twitter.com/NIC_first" target="_blank"><i class="fa fa-twitter"></i></a></div>
              <div class="nav-item"><a href="how-we-made-this.html">HOW WE MADE THIS <i class="blue-icon fa fa-angle-double-right"></i></a></div>
              <div class="nav-item"><a href="what-we-do.html">WHAT WE DO <i class="blue-icon fa fa-angle-double-right"></i></a></div>
            </div>
          </div>
          <div class="row" style="border-bottom:1px solid lightgray;">
            <a class="navbar-brand" href="index.html"><img src="images/logo.png" class="img-responsive"> <span class="navbar-brand-words">INTERACTIVE MEDIA</span></a>
            <div class="col-md-6 col-md-offset-6 no-col-padding">
              <div class="social no-bottom"><a href="https://vimeo.com/nicimg" target="_blank"><i class="fa fa-vimeo-square"></i></a></div>
              <div class="social no-bottom"><a href="https://www.pinterest.com/nicinteractivemedia/" target="_blank"><i class="fa fa-pinterest"></i></a></div>
               <div class="dropdown nav-item no-bottom">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    WHO WE ARE<i class="blue-icon fa fa-chevron-down"></i>
                  </a>
                <ul class="dropdown-menu">
                  <li class="list-nav-item" style="border-top: 1px solid lightgray;">
                    <a href="faculty.html">FACULTY</a>
                  </li>
                  <li class="list-nav-item">
                    <a href="students-alumni.html">STUDENTS / ALUMNI</a>
                  </li>
                </ul>
              </div>
              <div class="dropdown nav-item no-bottom">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  RESOURCES <i class="blue-icon fa fa-chevron-down"></i>
                </a>
              <ul class="dropdown-menu">
                <li class="list-nav-item" style="border-top: 1px solid lightgray;">
                  <a href="current-students.html">CURRENT STUDENTS</a>
                </li>
                <li class="list-nav-item">
                  <a href="https://www.facebook.com/groups/1409986189058654/" target="_blank">ALUMNI  <i class="fa fa-facebook small-icon"></i></a>
                </li>
              </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</nav>
