<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3 col-md-offset-6 no-col-padding">
            <div class="social"><a href="https://www.facebook.com/NICIMG/"><i class="fa fa-facebook"></i></a></div>
            <div class="social"><a href="https://twitter.com/NIC_first"><i class="fa fa-twitter"></i></a></div>
          </div>
        </div>
        <div class="row" style="border-bottom:1px solid lightgray;">
          <div class="col-md-3 no-col-padding">
            <div class="social no-bottom"><a href="#"><i class="fa fa-vimeo-square"></i></a></div>
            <div class="social no-bottom"><a href="#"><i class="fa fa-pinterest"></i></a></div>
          </div>
        </div>

        <div class="row">
          <a class="navbar-brand" href="index.html"><img src="images/logo.png" class="img-responsive"> <span class="navbar-brand-words">INTERACTIVE MEDIA</span></a>
          <div class="col-xs-6 no-col-padding text-center">
            <div class="nav-item"><a href="resources.html">RESOURCES</a></div>
          </div>
          <div class="col-xs-6 no-col-padding text-center">
            <div class="nav-item"><a href="who-we-are.html">WHO WE ARE</a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 no-col-padding text-center">
            <div class="nav-item"><a href="how-we-made-this.html">HOW WE MADE THIS</a></div>
            </div>
          <div class="col-xs-6 no-col-padding text-center">
            <div class="nav-item"><a href="what-we-do.html">WHAT WE DO</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
