
/* This first one fixes a weird Bootstrap bug
(or a bug in this CSS that couldn't be found) */
@media (max-width: 992px){
  .faq-container .empty-panel.faq-panel {
    height: 257.484px;
  }

  .faq-container .javascript-panel.faq-panel {
    height: 514.984px;
  }

  .faq-container .ux-panel.faq-panel {
    height: 193.109px;
  }

  .faq-container .cc-panel.faq-panel {
    height: calc(386.234px / 2);
  }
}
